name: PullMeIn CI

on:
  pull_request:
    branches:
      - main

jobs:
  validate-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Validate articles JSON
        run: npm run validate:articles

      - name: Generate HTML from JSON
        run: npm run build:articles
